*::before,
*::after {
    box-sizing: border-box;
}



#title {}


#converted-text {}

#main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#top-bar-thing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
}


#encode-decode-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 768px) {

    /* Adjust the min-width as needed for your design */
    /* #encode-decode-select {
        flex-direction: column;
    } */
}


#input-textarea {
    margin-bottom: 0.75rem;
}


#copy-encoded-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 0.75rem;
}